# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Custom
/out/gonference
/src/web/assets/backoffice/js/
/src/web/assets/public/
/src/backoffice-ui/node_modules/
/src/front-style/node_modules/
/.idea
/.vscode
