.x-header {
  background-color: var(--color-primary);
  height: var(--navbar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  &-title {
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: var(--header-text-color);
  }
}
