:root {
    --color-primary: #541388;
    --color-accent: #d90368;
}

.x-talk-list-item-title span, .x-talk-title, .x-talk-speaker-name {
    color: var(--color-accent);
}

.x-talk-track, .x-talk-speaker-title, .x-talk-section-title {
    color: #880040;
}

.x-talk-list-item-track {
    color: var(--color-accent);
}

.x-talk-list-item-arrow svg {
    fill: var(--color-accent);
}

.x-talk-list-item-hour {
    color: #212529;
}

.x-talk-list-item-speaker {
    color: #212529;
}

.x-header-image {
    padding: 6px 0 4px 0;
    box-sizing: border-box;
}

.x-stars label svg {
    fill: #efca08;
}

.x-talk-button {
    background-color: #efca08;
}

.x-footer {
    color: var(--color-primary);
}

body {
    background-color: #f1e9da;
}
