<html>
    <head>
        <title>Talks</title>
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>

        <header class="x-header">
            <div class="x-container">
                <h1 class="x-header-title">Gonference</h1>
            </div>
        </header>

        <div class="x-container">
            <div class="x-talk-list">
                {{range .}}
                    <a class="x-talk-list-item" href="#">
                        <h3 class="x-talk-list-item-title" data-id="{{ .ID }}">{{ .Name }}</h3>
                        <span class="x-talk-list-item-speaker">{{ .SpeakerName }}</span>
                    </a>
                {{else}}
                    <p>No talks found</p>
                {{end}}
            </div>
        </div>
    </body>
</html>
