{{define "content"}}

    <div class="x-talk">
        <section class="x-talk-section is-boxed">
            <h1 class="x-talk-title">{{.Name}}</h1>
            <div class="x-talk-info">
                <span class="x-talk-track">{{.Track}}</span>
                <span class="x-talk-when">{{.When.Format "15:04"}}</span>
            </div>
            <div class="x-talk-description">{{.Description}}</div>
        </section>

        <section class="x-talk-section x-talk-speaker">
            <span class="x-talk-speaker-name">{{.SpeakerName}}</span>
            <span class="x-talk-speaker-title">{{.SpeakerTitle}}</span>
        </section>
    </div>

{{end}}

{{define "title"}}Talk - {{.Name}}{{end}}
