{{define "layout"}}

<html>
<head>
    {{ custom_meta }}
    <title>{{template "title" .}}</title>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="/assets/style.css">
    {{ custom_meta_post }}
</head>
<body>

<header class="x-header">
    <div class="x-container">
        <a href="/" class="x-header-title">Gonference</a>
    </div>
</header>

<div class="x-body">
    <div class="x-container">
        {{template "content" .}}
    </div>
</div>

<footer class="x-footer">
    <span>Gonference 2019</span>
</footer>

</body>
</html>

{{end}}
