{{define "content"}}

<div class="x-talk-list">
    {{range .}}
        <a class="x-talk-list-item {{if .Rated}}is-rated{{end}}" href="/talk/{{.Slug}}">

            <div class="x-talk-list-item-arrow">
                {{ template "icons/chevron-right" }}
            </div>

            <h3 class="x-talk-list-item-title" data-id="{{ .ID }}">
                {{if .Rated}}
                    {{ template "icons/check" }}
                {{end}}
                <span>{{ .Name }}</span>
            </h3>
            <div class="x-talk-list-item-info">
                <span class="x-talk-list-item-speaker">{{ .SpeakerName }}</span>
                <span class="x-talk-list-item-track">{{ .Track }}</span>
                <span class="x-talk-list-item-hour">{{ .When.Format "15:04" }}</span>
            </div>
        </a>
    {{else}}
        <p>No talks found</p>
    {{end}}
</div>

{{end}}

{{define "title"}}Talks{{end}}
