{{define "content"}}

    <div class="x-talk">

        {{if .ratingDone}}
            <div class="x-talk-notification">
                {{ template "icons/check" }}
                <span>¡Gracias por tu feedback!</span>
            </div>
        {{end}}

        <section class="x-talk-section is-boxed">
            <h1 class="x-talk-title">{{.talk.Name}}</h1>
            <div class="x-talk-info">
                <span class="x-talk-track">{{.talk.Track}}</span>
                <span class="x-talk-when">{{.talk.When.Format "15:04"}}</span>
            </div>
            <div class="x-talk-description">{{markdown .talk.Description}}</div>
        </section>

        <section class="x-talk-section x-talk-speaker">
            {{if .speakerImageFileName}}
                <div class="x-talk-speaker-image" style="background-image: url({{.speakerImageFileName}});"></div>
            {{end}}
            <div class="x-talk-speaker-info">
                <span class="x-talk-speaker-name">{{.talk.SpeakerName}}</span>
                <span class="x-talk-speaker-title">{{.talk.SpeakerTitle}}</span>
            </div>
        </section>

        {{if .questionReceived}}
            <div class="x-talk-notification">
                {{ template "icons/check" }}
                <span>¡Gracias por tu pregunta!</span>
            </div>
        {{end}}

        <section class="x-talk-section is-boxed">
            <h2 class="x-talk-section-title">Haz una pregunta</h2>
            <form action="/talk/{{.talk.ID}}/question" method="POST" enctype="multipart/form-data">
                <textarea class="x-talk-textarea" name="question" maxlength="600" placeholder="¿Qué quieres preguntar?"></textarea>
                <input class="x-talk-button" type="submit" value="Enviar">
            </form>
        </section>

        {{if not .ratingDone}}
            <section class="x-talk-section is-boxed">
                <h2 class="x-talk-section-title">Valora la charla</h2>
                <form action="/talk/{{.talk.ID}}/rating" method="POST" enctype="multipart/form-data">
                    {{ template "components/stars" }}
                    <textarea class="x-talk-textarea" name="comment" maxlength="600" placeholder="Deja un comentario... si lo ves oportuno :)"></textarea>
                    <input class="x-talk-button" type="submit" value="Enviar">
                </form>
            </section>
        {{end}}

    </div>

{{end}}

{{define "title"}}Talk - {{.talk.Name}}{{end}}
